
@font-face {
    font-family: 'Karla';
    src: url(/assets/fonts/Karla-Light.ttf),
    url(/assets/fonts/Karla-Regular.ttf), url(/assets/fonts/Karla-Bold.ttf);
}
@font-face {
    font-family: 'DMSerifDisplay';
    src: url(/assets/fonts/DMSerifDisplay-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Karal', sans-serif;
}

h1,
h2, h4 {
    font-family: 'DMSerifDisplay', sans-serif;
}

/* header section starts */
.header {
    width: 100%;
    display: flex;
    position: relative;
    /* height: auto; */
    justify-content: space-between;
    align-items: center;
    padding: 2rem 15rem;
}

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navbar > a {
    color: hsl(216, 35%, 60%);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar > a:hover {
    color: hsl(270, 9%, 17%);
}

.navbar > .btn {
    color: hsl(270, 9%, 17%);
    border: 1px solid hsl(270, 9%, 17%);
    padding: 1rem 2rem;
}

.navbar > .btn:hover {
    background-color: hsl(270, 9%, 17%);
    color: hsl(0, 0%, 98%);
}
/* header section ends */


/* home section starts */
.home-section {
    display: flex;
    /* justify-content: space-around; */
    position: relative;
    /* gap: 5rem; */
    width: 100%;
    background-color: hsl(256, 26%, 20%);
    margin-bottom: 10rem;
    /* z-index: 2; */
}

.bg-intro-left {
    position: absolute;
    top: 30rem;
    left: 0;
    width: 12%;
}

.home-section > .content-container {
    width: 37%;
    margin: 8rem 0 8rem 15rem ;

    /* background-color: red; */
}

.home-section > .content-container h1 {
    /* font-family: 'DMSerifDisplay', sans-serif; */
    font-size: 5.2rem;
    font-weight: 400;
    letter-spacing: -0.7px;
    color: hsl(0, 0%, 98%);
}

.home-section > .content-container h1::after {
    content: "";
    position: absolute;
    top: 6rem;
    left: 15rem;
    width: 8%;
    height: 1px;
    background-color: hsl(300, 2%, 80%);
}

.home-section > .content-container p {
    font-size: 1.4rem;
    color: hsl(0, 0%, 98%);
    font-weight: 300;
    line-height: 2.2rem;
    margin: 1.5rem 0 3rem;
    /* font-family: 'DMSerifDisplay'; */
}

.home-section > .content-container .btn,
.section-2 .section-2-content .btn {
    color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 98%);
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.home-section > .content-container .btn:hover,
.section-2 .section-2-content .btn:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(270, 9%, 17%);
    position: relative;
}

.home-section > .img-container {
    width: 27%;
    position: absolute;
    top: 6rem;
    right: 15rem;

}

.home-section > .img-container img {
    width: 100%;

}

.bg-intro-right {
    position: absolute;
    top: 0rem;
    right: 0;
    width: 22%;
    /* z-index: 0; */
}

/* section-1 starts */
.section-1 {
    margin-top: 25rem;
    margin-bottom: 20rem;
    padding: 0 15rem;
    position: relative;
}

.section-1 h2 {
    font-size: 4.6rem;
    color: hsl(270, 9%, 17%);
    font-weight: 500;
    letter-spacing: -0.8px;
}

.section-1 h2::after {
    content: "";
    position: absolute;
    top: -3rem;
    left: 15rem;
    width: 8%; 
    height: 1px;
    background-color: hsl(300, 2%, 80%);
}

.row-items {
    display: flex;
    margin-top: 5rem;
    gap: 10rem;
    align-items: center;
}

.row-items > .item > img {
    width: 6rem;
}

.row-items > .item > h4 {
    font-size: 2.2rem;
    font-weight: 300;
    margin: 1.8rem 0 1rem;
    color: hsl(270, 9%, 17%);
}

.row-items > .item > p {
    font-size: 12px;
    line-height: 2rem;
    letter-spacing: 0.5px;
    color: hsl(300, 1%, 68%);
}
/* section-1 ends */

/* section-2 starts */
.section-2 {
    position: relative;
    margin: 0 15rem;
    margin-bottom: 10rem;
    background-color: hsl(256, 26%, 20%);
    padding: 4rem 10rem;
    overflow: hidden;
}



.section-2 .section-2-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2 h2 {
    font-size: 3.8rem;
    color: hsl(0, 0%, 98%);
    font-weight: 500;
}

.section-2-intro-bg {
    position: absolute;
    top: -18rem;
    right: 0;
}

.section-2 .btn {
    position: relative;
    z-index: 2;
}
/* section-2 ends */

/* footer starts*/
.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    background-color: #f8f4f0;
}

.footer .footer-bg-left {
    position: absolute;
    top: 0;
    z-index: 1;
}

.footer-logos {
    display: flex;
    justify-content: space-between;
    padding: 5rem 15rem 2rem 15rem;
}

.footer-logos .logo {
    position: relative;
    z-index: 2;
}

.footer-logos .social-media-logos-container a:not(:last-child) {
    margin-right: 1rem;
}

.social-media-logos-container > a > img:hover {
    filter: brightness(0) saturate(100%) invert(11%) sepia(22%) saturate(429%) hue-rotate(227deg) brightness(97%) contrast(88%);
    transition: all 0.3s;
}

.footer-items-container {
    display: flex;
    justify-content: flex-start;
    gap: 20rem;
    margin: 0 15rem 5rem;
    padding-top: 5rem;
    border-top: 1px solid hsl(300, 1%, 60%);
    z-index: 2;
}

.footer-items-container > .footer-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.footer-items-container > .footer-item > a {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: hsl(270, 9%, 17%);
}

.footer-items-container > .footer-item > a:hover:not(.footer-item a:first-child) {
    border-bottom: 1px solid black;
}

.footer-items-container > .footer-item a:first-child {
    color: hsl(300, 1%, 68%);
    margin-bottom: 2rem;
}

.attribution {
    font-size: 1rem;
    color: hsl(300, 0%, 55%);
    padding-bottom: 0.5rem;
}

.attribution a {
    color: hsl(270, 4%, 29%);
    font-size: 1.1rem;
    font-weight: 600;
}
/* footer ends */